# --- Project Root .gitignore ---

# Virtual Environment
.venv/
venv/
ENV/

# Python artifacts
__pycache__/
*.py[cod]
.DS_Store
.idea/

# Output folders
Gen/
Tab/

# Generated Reports (Safety net)
*.xlsx
